.dark { 
    color: white!important;
    background-color: transparent!important;
}
.dark a { 
    color: white!important;
    text-decoration: none!important;
}
.dark img {
    transition: all .2s ease-in-out;
}
.dark .nav-button {
    background: inherit;
    border: 0px;
}
.dark .nav-button:hover {
    background: #0c0d0f;
}
